/* Universal */
body {
    background-image: url(./images/pexels-scott-webb-305821.jpg);
    height: 100vh;
    padding: 0;
    background-size: 100%;
    background-attachment: fixed;
}

hr {
    width: 30%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}

p, a, span {
    font-family: 'Montserrat', sans-serif;
}

strong {
    font-weight: bold;
}

a {
    color: #32a351;
}

a:hover {
    color: #217036;
}

/* Navigation */

#menuButton {
    justify-content: end;
    padding-top: .5em;
}

#offcanvasNavbar {
    width: 20%;
}

#offcanvasNavbarLabel {
    font-size: 3em;
}

.nav-link {
    font-size: 1.75em;
}

.active {
    text-decoration: underline;
}

/* About Page */

#titleContainer {
    text-align: center;
    padding: 5em;
}

#aboutJumbotron {
    float: left;
    padding: 7rem;
    width: 60%;
    padding-bottom: 2em;
    padding-top: 5em;
}

.card {
    display: inline-flex;
}

/* Projects Page */

#projectTitleContainer {
    text-align: left;
    padding:2em;
    width: 80%;
}

#projectJumbotron {
    padding: 3em;
    width: 80%;
    margin: 0 auto;
    border: .15em solid ;
}

#projectTimelineContainer {
    width: 80%;
    padding: 2em 0 2em 2em;
}

.display-6 {
    padding: 1em;
}

.card-title {
    margin: 0 auto;
    text-align: center;
    padding: 1em 0;
}

.contactButton:hover {
    color: #32a351;
}

/* Skills Page */

#skillsJumbotron {
    float: left;
    padding: 7rem;
    width: 60%;
    padding-bottom: 2em;
    padding-top: 5em;
}

/* Contact Page */

#contactJumbotron {
    float: left;
    padding: 7rem;
    width: 60%;
    padding-bottom: 2em;
    padding-top: 5em;
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    margin-bottom: .7em;
    width: fit-content;
    height: 10px;
    font-size: .7em;
}

/* Media Queries */