* {
  box-sizing: border-box;
  color: #4A6163;
}

:root {
  --main-bg-colour: #F9FAF4;
  --secondary-colour: #4A6163;
  --highlight-colour: rgb(254, 193, 150);
  --secondary-highlight-colour: #FFC94B;
  --link-colour: #F17A7E;
}

body {
  margin: 0;
  font-family: 'Hanken Grotesk', 'Helvetica Neue', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(249,250,244);
  background: linear-gradient(115deg, rgba(249,250,244,1) 70%, rgb(254, 193, 150) 100%);
  overflow-x: hidden;
}

.leadWord {
  color: var(--link-colour);
}

/* Navigation */

nav {
  min-height: 10vh;
  text-align: end;
  padding-right: 2vw;
  background-color: transparent;
  font-size: calc(.25em + 2vmin);
}

ul {
  display: inline-flex;
  gap: 8vw;
  list-style: none;
  flex-direction: row;
}

.nav-link {
  text-decoration: none;
}

.nav-link:hover {
  color: var(--link-colour);
}

.nav-link-active {
  color: var(--link-colour);
  text-decoration: underline;
  font-weight: bold;
}

.logo {
  position: absolute;
  height: 30vh;
  padding-left: 5vh;
}

.selectBox {
  background-color: var(--highlight-colour);
  border: none;
  color: var(--secondary-colour);
  font-size: calc(.1em + 1.5vmin);
}

/* Home Header Quote */

.homeHeader {
  padding: 30vh 20vw 10vh;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  font-size: calc(0.625em + 2vmin);
  width: fit-content;
  margin: auto;
}

/* Goals */

.goalsParentDiv {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  text-align: center;
  margin: 10vh auto;
  width: 70vw;
  gap: 5vw;
  padding: 25vh 0;
}
  
.goalsDiv1 { grid-area: 1 / 1 / 2 / 2; }
.goalsDiv2 { grid-area: 1 / 2 / 2 / 3; }
.goalsDiv3 { grid-area: 1 / 3 / 2 / 4; }

.goalsDiv1,
.goalsDiv2,
.goalsDiv3 {
  grid-column: span 2;
  outline: .1em solid var(--secondary-colour);
  border-radius: 2%;
  font-size: calc(0.1875em + 2vmin);
  opacity: 0;
}

.goalsCardHeader {
  text-decoration: underline;
}

.goalsCardBody {
  padding: 0 2vw 1vh;
}

/* Projects */

.projectDiv {
  font-size: calc(0.1875em + 2vmin);
  padding: 25vh 0;
}

.projectDetail {
  display: flex;
  opacity: 0;
  flex-direction: column;
}

.projectHeader {
  font-size: calc(0.9375em + 2vmin);
  width: 100vw;
  padding: 2em 0;
}

.projectBody,
.projectBodyReverse {
  display: flex;
  flex-direction: row;
  gap: 5vw;
  padding: 0 7vw;
}

.projectImage {
  border-radius: 2%;
  outline: .5em solid var(--highlight-colour);
  width: 50vw;
}

.projectDescription {
  width: 20vw;
  font-size: calc(00.625em + 2vmin);
  align-self: center;
  margin: auto;
}

/* About */

.aboutDiv {
  display: flex;
  flex-direction: row;
  gap: 10vw;
  padding: 20vh 5vw;
}

.aboutTitle {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.aboutDescription {
  margin: auto;
  display: flex;
  width: 40vw;
  font-size: calc(0.5em + 2vmin);
}

/* Photo Gallery */
.galleryDiv {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 3vw;
  grid-row-gap: 4vh;
  padding: 10vh 10vw;
}

.photoInitial {
  float: left;
  width: 100%;
  height: 100%;
  object-fit: cover;
  outline: solid .2em var(--highlight-colour);
  border-radius: 1%;
}

/* Contact */

.contactDiv {
  padding: 10em;
  display: flex;
  justify-content: space-evenly;
  font-size: calc(.25em + 2vmin);
  height: 90vh;
}

.contactDesc {
  width: 50vw;
  padding: 0 5vw;
}

.contactLinks {
  width: 30vw;
}

/* Footer */

.footerDiv {
  display: flex;
  margin-top: 20vh;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 25vh 0;
  font-size: calc(0.375em + 2vmin);
  opacity: .9;
  background-color: var(--highlight-colour);
}

.contactBtn, .contactBtnAbout {
  font-size: 1em;
  font-weight: 200;
  letter-spacing: 0.0625em;
  padding: 0.8125em 1.25em 0.8125em;
  outline: 0;
  border: 0.0625em solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.contactBtn:after, .contactBtnAbout:after {
  content: "";
  background-color: rgb(249,250,244);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  transition: 0.2s;
}

.contactBtnAbout:after {
  top: 0.4375em;
  left: 0.4375em;
}

.contactBtnAbout:after {
  background-color: var(--highlight-colour) !important;
}

.contactBtn:hover:after {
  top: 0.4375em;
  left: 0.4375em;
}

.contactBtnAbout:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .contactBtn {
    padding: 0.8125em 3.125em 0.8125em;
  }
}

.footerQuote {
  width: 30%;
  line-height: 1.2;
}

.outsideTheBox {
  text-decoration: underline;
  text-decoration-color: var(--main-bg-colour);
  text-decoration-thickness: .2em;
}

/* Animations */

.fade-in-tl {
	-webkit-animation: fade-in-tl 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	animation: fade-in-tl 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.fade-in {
	-webkit-animation: fade-in 2s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	animation: fade-in 2s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

.focus-in-contract {
	-webkit-animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.5s both;
	animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.5s both;
}

.fade-in-bottom {
	-webkit-animation: fade-in-bottom 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in-bottom 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  opacity: 1;
}
.fade-in-bottom1 {
	-webkit-animation: fade-in-bottom 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) .5s both;
	animation: fade-in-bottom 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) .5s both;
  opacity: 1;
}
.fade-in-bottom2 {
	-webkit-animation: fade-in-bottom 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
	animation: fade-in-bottom 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
  opacity: 1;
}

@-webkit-keyframes fade-in-tl {
  0% {
    -webkit-transform: translateX(-50px) translateY(-50px);
            transform: translateX(-50px) translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-tl {
  0% {
    -webkit-transform: translateX(-50px) translateY(-50px);
            transform: translateX(-50px) translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes fade-in-bottom1 {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom1 {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes fade-in-bottom2 {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom2 {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

/* Responsive Queries */

/* Laptop */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .homeHeader {
    padding: 14rem 8rem 10rem;
  }
  .goalsParentDiv {
    grid-template-columns: repeat(2, 1fr);
  }
  .goalsDiv1 { grid-area: 1 / 1 / 1 / 1;}
  .goalsDiv2 { grid-area: 1 / 2 / 1 / 2;}
  .goalsDiv3 { grid-area: 2 / 1 / 2 / 2; grid-column-end: 3;}
  .projectDescription {
    width: 25vw;
  }
  .contactDiv {
    padding: 25vh 5vw;
  }
  .contactDesc {
    width: 40vw;
    padding: 0 5vw 0 0;
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .logo {
    padding-left: 0;
  }
  .goalsParentDiv {
    grid-template-columns: repeat(1, 1fr);
  }
  .goalsDiv1 { grid-area: 1 / 1 / 1 / 1;}
  .goalsDiv2 { grid-area: 2 / 1 / 2 / 1;}
  .goalsDiv3 { grid-area: 3 / 1 / 3 / 1;}
  .goalsDiv1,
  .goalsDiv2,
  .goalsDiv3 {
    padding: 5vh 10vw;
    font-size: calc(0.6em + 2vmin);
    margin-bottom: 10vh;
  }
  .projectDiv {
    text-align: center;
  }
  .projectHeader {
    text-align: center;
  }
  .projectBody {
    flex-direction: column-reverse;
  }
  .projectBodyReverse {
    flex-direction: column;
    padding: 0 7vw !important;
  }
  .projectImage {
    width: 100%;
    margin: auto;
  }
  .projectDescription {
    width: 100%;
  }
  .contactBtn {
    padding: 2em;
  }
  .aboutDiv {
    flex-direction: column;
  }
  .aboutDescription {
    width: 60vw;
  }
  .galleryDiv {
    grid-template-columns: repeat(2, 1fr);
  }
  .contactDiv {
    justify-content: space-between;
    padding: 30vh 7vw;
  }
}

/* Mobile */
@media screen and (max-width: 767px) {
  nav {
    text-align: center;
  }
  .logo {
    position: relative;
    padding: 0;
    height: 20vh;
    width: 100%;
  }
  .homeHeader {
    padding: 10vh 0 2vh;
    text-align: center;
  }
  .goalsParentDiv {
    padding: 0;
    margin: 0 auto;
    grid-template-columns: repeat(1, 1fr);
  }
  .goalsDiv1 { grid-area: 1 / 1 / 1 / 1; }
  .goalsDiv2 { grid-area: 2 / 1 / 2 / 1; }
  .goalsDiv3 { grid-area: 3 / 1 / 3 / 1; }
  .goalsDiv1,
  .goalsDiv2,
  .goalsDiv3 {
    padding: 2vh 5vw;
    font-size: calc(0.6em + 2vmin);
    margin-bottom: 10vh;
  }
  .projectDiv {
    text-align: center;
  }
  .projectHeader {
    text-align: center;
  }
  .projectBody {
    flex-direction: column-reverse;
  }
  .projectBodyReverse {
    flex-direction: column;
    padding: 0 7vw !important;
  }
  .projectImage {
    width: 100%;
    margin: auto;
  }
  .projectDescription {
    width: 100%;
  }
  .contactBtn {
    padding: 1.5em;
    height: fit-content;
  }
  .footerDiv {
    padding: 5vh 0;
    align-items: center;
  }
  .aboutDiv {
    flex-direction: column;
    padding: 0;
    width: 90vw;
  }
  .aboutDescription {
    width: 70vw;
    font-size: calc(1em + 2vmin);
  }
  .galleryDiv {
    grid-template-columns: repeat(1, 1fr);
  }
  .contactDiv {
    flex-direction: column;
    padding: 0;
    font-size: calc(.7em + 2vmin);
    height: fit-content;
  }
  .contactDesc {
    margin: auto;
    width: 80vw;
  }
  .contactLinks {
    width: 80vw;
    margin: auto;
    text-align: center;
  }
  .contactLinks > div > h2 {
    text-align: start;
  }
  .aboutDiv {
    margin: auto;
  }
  .aboutTitle > div {
    gap: 0 !important;
  }
  .aboutTitle > div > div:nth-child(1) {
    text-align: start !important;
  }
  .aboutTitle > div > div:nth-child(2) {
    text-align: end !important;
  }
}