* {
  box-sizing: border-box;
  color: #4A6163;
}

:root {
  --main-bg-colour: #F9FAF4;
  --secondary-colour: #4A6163;
  --highlight-colour: rgb(254, 193, 150);
  --secondary-highlight-colour: #FFC94B;
  --link-colour: #F17A7E;
}

body {
  margin: 0;
  font-family: 'Hanken Grotesk', 'Helvetica Neue', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(249,250,244);
  background: linear-gradient(115deg, rgba(249,250,244,1) 70%, rgb(254, 193, 150) 100%);
  overflow-x: hidden;
}

.leadWord {
  color: var(--link-colour);
}

/* Navigation */

nav {
  min-height: 10vh;
  text-align: end;
  padding-right: 2vw;
  background-color: transparent;
  font-size: calc(4px + 2vmin);
}

ul {
  display: inline-flex;
  gap: 8vw;
  list-style: none;
  flex-direction: row;
}

.nav-link {
  text-decoration: none;
}

.nav-link:hover {
  color: var(--link-colour);
}

.nav-link-active {
  color: var(--link-colour);
  text-decoration: underline;
  font-weight: bold;
}

.logo {
  position: absolute;
  height: 30vh;
  padding-left: 5vh;
}

/* Home Header Quote */

.homeHeader {
  padding: 14rem 10rem 10rem;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

/* Goals */

.goalsParentDiv {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  text-align: center;
  margin: 10vh auto;
  width: 70%;
  gap: 5vw;
  padding: 25vh 0;
}
  
.goalsDiv1 { grid-area: 1 / 1 / 2 / 2; }
.goalsDiv2 { grid-area: 1 / 2 / 2 / 3; }
.goalsDiv3 { grid-area: 1 / 3 / 2 / 4; }

.goalsDiv1,
.goalsDiv2,
.goalsDiv3 {
  outline: .1em solid var(--secondary-colour);
  border-radius: 2%;
  font-size: calc(3px + 2vmin);
  opacity: 0;
}

.goalsCardHeader {
  text-decoration: underline;
}

.goalsCardBody {
  padding: 0 1em 1em;
}

/* Projects */

.projectDiv {
  font-size: calc(3px + 2vmin);
  padding: 25vh 0;
}

.projectDetail {
  display: flex;
  opacity: 0;
  flex-direction: column;
}

.projectHeader {
  font-size: calc(15px + 2vmin);
  width: 100vw;
  padding: 2em 0;
}

.projectBody {
  display: flex;
  flex-direction: row;
  gap: 5vw;
  padding: 0 7vw;
}

.projectImage {
  border-radius: 2%;
  outline: .5em solid var(--highlight-colour);
  width: 50vw;
}

.projectDescription {
  width: 20vw;
  font-size: calc(10px + 2vmin);
  align-self: center;
  margin: auto;
}

/* About */

.aboutDiv {
  display: flex;
  flex-direction: row;
  gap: 10vw;
  padding: 20vh 5vw;
}

.aboutTitle {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.aboutDescription {
  margin: auto;
  display: flex;
  width: 40%;
  font-size: calc(8px + 2vmin);
}

/* Photo Gallery */
.galleryDiv {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  padding: 10em;
}

.photo1 { grid-area: 1 / 1 / 2 / 2; }
.photo2 { grid-area: 1 / 2 / 2 / 3; }
.photo3 { grid-area: 1 / 3 / 2 / 4; }
.photo4 { grid-area: 2 / 1 / 3 / 2; }
.photo5 { grid-area: 2 / 2 / 3 / 3; }
.photo6 { grid-area: 2 / 3 / 3 / 4; }

.photoInitial {
  float: left;
  width: 100%;
  height: 100%;
  object-fit: cover;
  outline: solid .2em var(--highlight-colour);
  border-radius: 1%;
}

/* Contact */

.contactDiv {
  padding: 10em;
  display: flex;
  justify-content: space-evenly;
  font-size: calc(4px + 2vmin);
  height: 90vh;
}

/* Footer */

.footerDiv {
  display: flex;
  margin-top: 20vh;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 25vh 0;
  font-size: calc(6px + 2vmin);
  opacity: .9;
  background-color: var(--highlight-colour);
}

.contactBtn, .contactBtnAbout {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.contactBtn:after, .contactBtnAbout:after {
  content: "";
  background-color: rgb(249,250,244);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.contactBtnAbout:after {
  background-color: var(--highlight-colour) !important;
}

.contactBtn:hover:after, .contactBtnAbout:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .contactBtn {
    padding: 13px 50px 13px;
  }
}

.footerQuote {
  width: 30%;
  line-height: 1.2;
}

/* Animations */

.fade-in-tl {
	-webkit-animation: fade-in-tl 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	animation: fade-in-tl 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.fade-in {
	-webkit-animation: fade-in 2s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	animation: fade-in 2s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

.focus-in-contract {
	-webkit-animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.5s both;
	animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2.5s both;
}

.fade-in-bottom {
	-webkit-animation: fade-in-bottom 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in-bottom 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  opacity: 1;
}
.fade-in-bottom1 {
	-webkit-animation: fade-in-bottom 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) .5s both;
	animation: fade-in-bottom 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) .5s both;
  opacity: 1;
}
.fade-in-bottom2 {
	-webkit-animation: fade-in-bottom 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
	animation: fade-in-bottom 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
  opacity: 1;
}

@-webkit-keyframes fade-in-tl {
  0% {
    -webkit-transform: translateX(-50px) translateY(-50px);
            transform: translateX(-50px) translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-tl {
  0% {
    -webkit-transform: translateX(-50px) translateY(-50px);
            transform: translateX(-50px) translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes fade-in-bottom1 {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom1 {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes fade-in-bottom2 {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom2 {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}